.input {
  width: 590px;
  min-height: 38px;

  box-sizing: border-box;
  margin-top: 4px;

  border-radius: 6px;
  border: 1px solid #d1d5db;
  padding: 9px 13px;

  font-weight: 400;
  letter-spacing: -0.12px;

  color: #111827;
  box-shadow: 0px 1px 2px 0px #0000000d;
}

.input:focus {
  border: 1px solid #8c929c;
  outline: none;
}

.input-hasError {
  width: 590px;
  min-height: 38px;

  box-sizing: border-box;
  margin-top: 4px;

  border-radius: 6px;
  border: 1px solid #fca5a5;
  padding: 9px 13px;

  font-weight: 400;
  letter-spacing: -0.12px;

  color: #ef4444;
  background-color: #fee2e2;
  box-shadow: 0px 1px 2px 0px #0000000d;
}

.input-hasError:focus {
  border: 1px solid #f87171;
  outline: none;
}

.error-message {
  font-size: 12px;
  color: #ef4444;
}
