.form-control {
  display: flex;
  flex-direction: column;
  padding: 24px;

  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.form-control label {
  font-weight: 500;
  color: #374151;
}
